body {
    background: #f2f2f2;
  }
  header img {
    max-width: 60px;
    border-radius: 15px;
    padding: 8px;
    float: left;
    background-color: #ffffff;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif;
    color: #0d0d0d;
    margin: 20px 0 0;
  }
  nav {
    margin: 0;
  }
  ul {
    display: block;
    background: #590232;
    margin-top: 20px;
  }
  ul li {
    display: inline-block;
    
  }
  .navigation a,
  .navigation a:visited {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li:first-child {
    display: block;
  }
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: .75rem;
  }
  .navigation a:hover {
    text-decoration: underline;
  }
  .active {
  border: #f2f2f2 solid 2px;  
  }
  .responsive,
  .responsive li {
    display: block;
  }
  #motto {
    background-color: #63a633;
    border: none;
  }
  p, .contact {
    font-family: "Playfair Display", serif;
    margin: 15px 0;
    font-style: unset;
  }
  .contact {
    display: flex;
    justify-content: center;
   
  }
  .contact img {
    justify-content: flex-start;
  }
  .contact address {
   margin: 10px;
    align-self: center;
  }
  ul {
    font-family: "Playfair Display", serif;
    margin: 0;
  }
  section img {
    max-width: 250px;
    margin: 20px;
  }
  .hero {
    position: absolute;
    max-width: 177px;
    margin: 10px;
    padding: 15px;
    opacity: .8;
    background-color: #63A633;
    bottom: -40px;
}
.hero h3 {
  margin: 0;
}
.forecast{
  display: none;
}
.forecast h2 {
  text-align: center;
  margin: 20px;
}
aarticle {
  margin-top: 70px;
  padding: 40px;
  border: #ffffff solid;
}

article img {
  float: right;
  max-width: 200px;
  margin: 20px;
}
.contact img {
  max-width: 300px;
}
  
  header,
  footer {
    text-align: center;
    color: #0d0d0d;
    background-color: #63a633;
    padding: 10px 0;
    font-size: small;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headings {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .headings h1 {
    margin-top: 0;
  }
  .wrapper img {
    max-width: 800px;
    height: auto;
    width: 100%;
    
}

  .wrapper{
    margin: auto;
    max-width: 100%;
    position: relative;
  }
  footer ul {
    list-style: none;
    text-align: center;
  }
  