body {
  background: #f2f2f2;
}
main {
  text-align: center;
  margin: auto;
}/*---------------HEADER, FOOTER----------------*/

header,
footer {
 
  color: #0d0d0d;
  background-color: #63a633;
  padding: 10px 0;
  font-size: small;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  margin-left: auto;
  margin-right: auto;
 
}
footer ul, footer p {
  list-style: none;
  text-align: center;
  
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: white;
}


header img {
  max-width: 60px;
  border-radius: 15px;
  padding: 8px;
  float: left;
  background-color: #ffffff;
}
.logo-link {
  text-decoration: none;
  color: black;
}
#motto {
  background-color: #63a633;
  border: none;
}
/* --------------------------MAIN---------------------- */
.wrapper img {
  height: auto;
  width: 100%;
}
.wrapper {
  margin: auto;
  max-width: 100%;
  position: relative;
}
.hero {
  margin: 10px;
  padding: 15px;
  opacity: 0.8;
  background-color: #63a633;
  top: 10px;
  left: 10px;

}
.hero h3 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  color: #0d0d0d;
  margin: 20px 0 0;
}
h4 {
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 10px;
}
p {
  text-align: left;
}
article {
  padding: 5px 40px;
  border: #ffffff solid;
  background-color: white;
  margin-top: 20px;
}
article img {
  width: 100%;
  margin: auto;
}

/* --------------------------NAVIGATION---------------------- */
nav {
  margin: 0;
}
ul {
  /* display: block; */
  background: #590232;
  /* margin-top: 20px; */
}
ul {
  font-family: "Playfair Display", serif;
  margin: 0;
}
ul li {
  display: inline-block;
}
.navigation a,
.navigation a:visited {
  color: #f2f2f2;
  text-decoration: none;
}

.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
}
.navigation a:hover {
  text-decoration: underline;
}
.active {
  border: #f2f2f2 solid 2px;
}
.responsive,
.responsive li {
  display: block;
}
/* --------------------------INDEX---------------------- */
.center {
  margin-top: 0;
}
.white {
  display: block;
 
}
/*------------INDEX CARDS------------*/
.cards {
  display: grid;
  grid-gap: 10px;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  
}
.cards section {
  background-color: white;

}
.cards h2 {
  padding-bottom: 0;
  margin: 0;
}
.cards h3 {
  padding: 0;
  margin: 0;

}
.cards p {
  margin: 0;
  text-align: center;
}
.cards img {
  max-width: 350px;
}
/* --------------------------SATURDAY PANCAKES---------------------- */
#banner {
  background-color: #590232;
  padding: 1px;
  color: #f2f2f2;
  display: none;
  text-align: center;
}
/* --------------------------TOWN PAGES---------------------- */
.forecast h2, h3 {
  text-align: center;
  margin: 20px;
}
.upcomingevents {
  background-color: white;
}
.upcomingevents h2{
  background-color: #590232;
  color: white;
  margin: 0;
}
.upcomingevents p {
  font-weight: 900;
}
.seasonal h3, h4 {
  margin: 0px;
}
  
.seasonal ul li {
  display: block;
  text-align: left;
}
.seasonal ul {
  background-color: white;  
}
.seasonal section {
  text-align: left;
}

/* --------------------------STORM CENTER/FORM---------------------- */
p,
.contact {
  font-family: "Playfair Display", serif;
  margin: 15px 0;
  font-style: unset;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact img {
  justify-content: flex-start;
}
.contact address {
  margin: 10px;
  align-self: center;
  font-style: normal;
}

.map {
  display: none;
}
.contact img {
  max-width: 300px;
}
.headings {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.headings h1 {
  margin-top: 0;
}

form {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #63a633;
  border-radius: 10px;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
}
form legend {
  color: #590232;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top,
form div,
form label {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: 1rem;
}
form label.top input,
form label.top select,
form label input:not([type="radio"]),
form textarea {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
  text-align: left;
}

form input.submitBtn {
  border: none;
  background-color: #590232;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  width: 96%;
  max-width: 20rem;
}
form label.top input:required {
  border-left: #590232 solid 6px;
}
form label.top input:required:valid {
  border-left: #63a633 solid 6px;
}
.flexly {
  display: flex;
  align-items: start;
  max-width: 330px;
}
#ratingvalue {
  margin: 0px 15px;
}

.noborder {
  border: none;
}
/* --------------------------GALLERY--------------------- */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  padding-top: 20px;
  justify-content: center;
}
.gallery-grid p {
  margin: 0;
}
.gallery-img {
background-color: white;
}
.ty {
  text-align: center;
  padding: 10px;
}






