body{

    margin: 20px;
    background: #F2F2F2;
    border: 3px solid #ffffff;
    padding: 20px;
    
}

header img{
    max-width: 85px;
    padding: 8px;
    float: left;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    color: #590232;
    margin: 20px 0 0;
    }
p{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
ul{
  font-family: 'Playfair Display', serif;
  margin: 0;
}
section img{
 max-width: 250px;
 margin: 20px;
 
}
#primary{
  background-color: #63A633;
}
#secondary{
  background-color: #590232;
}
#accent1{
  background-color: #0DF205;
}
#accent2{
  background-color: #F2F2F2;
}
#accent3{
  background-color: #0D0D0D;
  color: #f2f2f2;
}
#headings{
  font-family: "Poppins", sans-serif;
}
#body{
  font-family: 'Playfair Display', serif;
}
footer {
  padding: 0.25em;
  text-align: center;
    color: #F2F2F2;
    background-color: #63A633;
    border-radius: 15px;
    padding: 0 25px;
}
footer ul {
  list-style: none;
  text-align: center;
}
#lastupdate {
  color: #f2f2f2;
}
