html {
    background-color: #011627;
}
    body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
	background-color: #FDFFFC;
	padding: 20px;
	margin:60px auto;
  font-size: 16px;
  max-width: 960px;
}

header, footer {
	background-color: #FDFFFC;
	padding: 5px 0;
	display: flex;
	align-items:center;
    justify-content:center;
    color: #011627
}
footer {
    background-color: #41EAD4;
    color: #FDFFFC;
    padding: 10px;
}
header img {
	width: 125px;
    height: auto;
    margin-right: 20px;
}

nav {
    background-color:#41EAD4;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  nav > ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
  }
  nav a {
    padding: 18px;
    min-width: 70px;
  }
  nav a:link,
  nav a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  nav a:hover {
    color: #FF9F1C;
    background-color: #FDFFFC;
  }

.headings {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 2rem;
	color: #41EAD4;
    margin: 0;
}

.motto {
	font-style: italic;
	color: #FF9F1C;
	font-size: 1rem;
	letter-spacing: 1.5pt;
}
.social {
    padding-left: 40px;
}
h2 {
    color: #F71735;
}
p {
    line-height: 20px;
}
