body {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
header,
footer {
  text-align: center;
}
nav {
  text-align: left;
}
img {
  box-shadow: 10px 5px 5px 1px black;
}
header,
footer,
footer a {
  border-radius: 15px;
  color: antiquewhite;
}
h1 {
  padding: 1.5em;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 1em;
}
body {
  font-family: "Playfair Display", serif;
}

hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-start: auto;
  border-top-style: inset;
  border-top-width: 2px;
}

header,
footer {
  background-color: rgb(135, 94, 173);
}
footer {
  padding: 0.25em;
  border-radius: 15px;
  
}
footer ul {
  list-style: none;
}
#lastupdate {
  color: black;
}
