@import url('https://fonts.googleapis.com/css?family=Nunito|Sedgwick+Ave&display=swap');
:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: white;
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;
}
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;;
  color: #F71735;
}
header {
  padding: 1em;
  text-align: center;
  color: var(--accent2-color);
  background-color: ;
}
header > h1 {
  color: ;
}
p {
  font-family: 'Nunito', sans-serif;;
  color: ;
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
nav {
  background-color:#011627;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 70px;
}
nav a:link,
nav a:visited {
  color: #ffffff;
  text-decoration: none;
}
nav a:hover {
  color: #41EAD4;
  background-color: #FDFFFC;
  border: 4px solid #011627;
}
