body {
  background-color: #ff9f1c;
  max-width: 960px;
  margin: 0 auto;
}
main {
  background-color: #fdfffc;
  padding: 20px;
}
header,
footer {
  background-color: #011627;
  padding: 20px;
  color: #fdfffc;
}
