table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 10px 10px 30px 2px #000000;
}
table, th, td {
font-family: 'Ubuntu', sans-serif;
border: 1px solid darkgray;
border-collapse: collapse;
}

caption {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
caption, tfoot td {
    background-color: #7fb9c2;
    color: black;
    }
    tfoot td {
        padding: 5px;
        font-size: 75%;
    }
    th, .salesGoalMet {
        background-color:  #628ca6;
        color: white;
    }
    th, td {
            padding: 10px;
    }
    tr:nth-child(odd) {
        background-color:  #e7ffed;
        }
    tr:nth-child(even) {
        background-color: #e7f0ed;
    }
    