body {
  background: #f2f2f2;
}
header img {
  max-width: 60px;
  border-radius: 15px;
  padding: 8px;
  float: left;
  background-color: #ffffff;
}
#banner {
  background-color: #590232;
  padding: 1px;
  color: #f2f2f2;
  display: none;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  color: #0d0d0d;
  margin: 20px 0 0;
}
nav {
  margin: 0;
}
ul {
  display: block;
  background: #590232;
  margin-top: 20px;
}
ul li {
  display: inline-block;
}
.navigation a,
.navigation a:visited {
  color: #f2f2f2;
  text-decoration: none;
}

.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
}
.navigation a:hover {
  text-decoration: underline;
}
.active {
  border: #f2f2f2 solid 2px;
}
.responsive,
.responsive li {
  display: block;
}
.center {
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 10px;
}
p {
  font-family: "Playfair Display", serif;
  margin: 15px 0;
  font-style: unset;
}
ul {
  font-family: "Playfair Display", serif;
  margin: 0;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  padding-top: 20px;
  justify-content: center;
}
.ty {
  text-align: center;
  padding: 10px;
}
/*------------FORM------------*/

form {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #63a633;
  border-radius: 10px;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
}
form legend {
  color: #590232;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top,
form div,
form label {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: 0.8rem;
}
form label.top input,
form label.top select,
form label input:not([type="radio"]),
form textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #590232;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  width: 96%;
  max-width: 20rem;
  
}
form label.top input:required {
  border-left: #590232 solid 6px;
}
form label.top input:required:valid {
  border-left: #63a633 solid 6px;
}
.flexly {
  display: flex;
  align-items: center;
  max-width: 330px;
}
#ratingvalue {
  margin: 0px 15px;
}

.noborder {
  border: none;
}
article div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}
.white {
  background-color: #ffffff;
  padding-left: 15px;
}


/*---------------HEADER, FOOTER----------------*/

header,
footer {
  text-align: center;
  color: #0d0d0d;
  background-color: #63a633;
  padding: 10px 0;
  font-size: small;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  list-style: none;
  text-align: center;
}
